In [1]:
# If you don't have metatab installed, you can run in the notebook
# !pip install metatab
import metatab
doc = metatab.open_package('http://devel.metatab.org/zip/example.com-example_data_package-2017-us-1.zip')
doc

In [2]:
# Display a single term
doc.find_first('Root.Creator')

In [3]:
doc.resource('renter_cost')

In [4]:
df = doc.resource('renter_cost').dataframe()
df.head()

,id,col1,renter_cost_gt_30,renter_cost_gt_30_cv,owner_cost_gt_30_pct,owner_cost_gt_30_pct_cv
0,2,0O0P03,5581,6.235932071,49.280353,4.9333693054
1,3,0O0P05,525,17.6481586483,45.219638,13.2887199931
2,4,0O0P07,352,28.061964578,47.439353,17.3833286874
3,5,0O0P09,1189,11.8242145966,43.157895,8.9164874613
4,6,0O0P0b,505,17.0055369077,61.212121,25.3942863349